@model FeedbackSchool.Data.ApplicationContext

<link href="~/css/table.css" rel="stylesheet"/>
<div class="panel-success">
    <div class="panel-heading text-center">
        <h4>Список отзывов</h4>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm("DownloadDb", "Manage", FormMethod.Get))
        {
            <button class="btn btn-primary" type="submit">Скачать БД</button>
        }

        <table class="container">
            <thead>
            <tr>
                <th>Школа</th>
                <th>Класс</th>
                <th>Имя ученика</th>
                <th>Отзыв</th>
                <th>Любимые уроки</th>
                <th>Время отправки</th>
                <th>Номер отзыва</th>
            </tr>
            </thead>
            <tbody>
            @{
                foreach (var item in Model.Feedback)
                {
                    <tr>
                        <td data-label="Школа"> @item.School</td>
                        <td data-label="Класс"> @item.Class</td>
                        <td data-label="Имя ученика"> @item.Name</td>
                        <td data-label="Отзыв"> @item.Feedback</td>

                        @if (item.FavoriteLessons == null)
                        {
                            <td data-label="Любимые уроки"></td>
                        }
                        else
                        {
                            <td data-label="Любимые уроки">@item.FavoriteLessons</td>
                        }

                        <td data-label="Время отправки">@item.DateTime</td>
                        <td data-label="Номер отзыва"> @item.Id</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>